@page "/aprende_mas"

<PageTitle>Aprende Mas</PageTitle>

<h1>Aprende Mas</h1>

<h2>Videos sobre Blazor</h2>

<ul>
    <li>Video 1: En este video te explico en 10 minutos todo lo que tienes que saber sobre Blazor: qué es, para que se usa, cómo se usa, cuales son sus dos opciones (Blazor Server Side y Blazor WebAssembly) y porqué deberías comenzar a usarlo.</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VDkiB5F7FH0?autoplay=1" frameborder="0" allowfullscreen></iframe>


    <li>Video 2: ¿QUÉ ES BLAZOR? ¿EL NUEVO JAVASCRIPT DE MICROSOFT?</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/piNHZAMxVuk?autoplay=1" frameborder="0" allowfullscreen></iframe>


    <li>Video 3: En este vídeo vamos a ver una introducción a blazor, qué es y cómo funciona.</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hwzzpOq0MIg?autoplay=1" frameborder="0" allowfullscreen></iframe>


    <li>Video 4: Nuestro tutor José María Aguilar te explica cómo se compara Blazor con los frameworks Front-End más utilizados: Angular, Vue.js y React (aunque no sea un framework completo).</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1HNrYmubNF4?autoplay=1" frameborder="0" allowfullscreen></iframe>


    <li>Video 5: Novedades de Blazor en .NET 8 (Todo sobre Blazor SSR)</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EBvDPGYe8rY?autoplay=1" frameborder="0" allowfullscreen></iframe>
</ul>

@code {
    // No es necesario código adicional ya que cada video se carga en su propio iframe.
}