@page "/"

<PageTitle>INICIO</PageTitle>

<h1>INICIO </h1>

<h3>Bienvenido a mi Primera tarea con blazor </h3>

<p>Para comenzar, Puede navegar por las diferentes secciones de la pagina web utilizando el menu</p>

<img src="https://i.pinimg.com/236x/7b/8a/a2/7b8aa20b9cff0ccf0142f436f13aeaf0.jpg"

<h3>Una Frace motivadora para ti: </h3>

<p>INICIO"El éxito es la suma de pequeños esfuerzos repetidos día tras día." </p>